
appicon          ICON        "icons/appicon.ico"
globeicon		ICON       "icons/globeicon.ico"

PlaceObj BITMAP "icons/CreateIcon.bmp"
BrowseObj BITMAP "icons/Browser.bmp"
Gizmo BITMAP "icons/AllIcon.bmp"
Layer BITMAP "icons/Layer.bmp"
PathTools BITMAP "icons/PathTools.bmp"
DecalTools BITMAP "icons/PathTools.bmp"
NavGraphTools BITMAP "icons/PathTools.bmp"
TerrainHeight BITMAP "icons/TerrainHeight.bmp"
TerrainPaint BITMAP "icons/TerrainPainting.bmp"
GroundCover BITMAP	"icons/GroundCover.bmp"


PlaceObjTypeTerrainSel			BITMAP      "icons/TerrainIcon.bmp"
PlaceObjTypeTerrainDeSel		BITMAP      "icons/TerrainIcon_des.bmp"
PlaceObjTypeAttachmentSel       BITMAP      "icons/AttachmentIcon.bmp"
PlaceObjTypeAttachmentDeSel     BITMAP      "icons/AttachmentIcon_des.bmp"
PlaceObjTypeLightSel			BITMAP      "icons/LightIcon.bmp"
PlaceObjTypeLightDeSel			BITMAP      "icons/LightIcon_des.bmp"
PlaceObjTypeDummySel			BITMAP      "icons/DummyIcon.bmp"
PlaceObjTypeDummyDeSel			BITMAP      "icons/DummyIcon_des.bmp"
PlaceObjType3dGridSel			BITMAP      "icons/3dGridIcon.bmp"
PlaceObjType3dGridDeSel			BITMAP      "icons/3dGridIcon_des.bmp"
PlaceObjTypeWaypointSel			BITMAP      "icons/WaypointIcon.bmp"
PlaceObjTypeWaypointDeSel		BITMAP      "icons/WaypointIcon_des.bmp"
PlaceObjTypeContextAnimSel		BITMAP      "icons/ContextAnimIcon.bmp"
PlaceObjTypeContextAnimDeSel	BITMAP      "icons/ContextAnimIcon_des.bmp"


PathToolCreatePathSel			BITMAP      "icons/PathCreate.bmp"
PathToolCreatePathDeSel			BITMAP      "icons/PathCreate_des.bmp"
PathToolConnectPathSel			BITMAP      "icons/PathConnect.bmp"
PathToolConnectPathDeSel		BITMAP      "icons/PathConnect_des.bmp"


PaintTerrainUpSel BITMAP "icons/TerrainUpIcon.bmp"
PaintTerrainUpDeSel BITMAP "icons/TerrainUpIcon_des.bmp"
PaintTerrainDownSel BITMAP "icons/TerrainDownIcon.bmp"
PaintTerrainDownDeSel BITMAP "icons/TerrainDownIcon_des.bmp"
PaintTerrainAverageSel BITMAP "icons/TerrainSmoothIcon.bmp"
PaintTerrainAverageDeSel BITMAP "icons/TerrainSmoothIcon_des.bmp"
PaintTerrainSampleSel BITMAP "icons/TerrainSampleIcon.bmp"
PaintTerrainSampleDeSel BITMAP "icons/TerrainSampleIcon_des.bmp"
PaintTerrainTrenchSel BITMAP "icons/TerrainTrenchIcon.bmp"
PaintTerrainTrenchDeSel BITMAP "icons/TerrainTrenchIcon_des.bmp"
PaintTerrainQuadSel BITMAP "icons/TerrainQuadIcon.bmp"
PaintTerrainQuadDeSel BITMAP "icons/TerrainQuadIcon_des.bmp"
PaintTerrainMaterialSel BITMAP "icons/TerrainMatIcon.bmp"
PaintTerrainMaterialDeSel BITMAP "icons/TerrainMatIcon_des.bmp"
PaintTerrainMaterialResetSel BITMAP "icons/TerrainMatResetIcon.bmp"
PaintTerrainMaterialResetDeSel BITMAP "icons/TerrainMatResetIcon_des.bmp"
PaintTerrainMaterialFindReplaceSel BITMAP "icons/TerrainMatFindReplaceIcon.bmp"
PaintTerrainMaterialFindReplaceDeSel BITMAP "icons/TerrainMatFindReplaceIcon_des.bmp"

PaintTerrainGCIncreaseDeSel BITMAP "icons/groundcovermore.bmp"
PaintTerrainGCIncreaseSel BITMAP "icons/groundcovermore_sel.bmp"
PaintTerrainGCDecreaseDeSel BITMAP "icons/groundcoverless.bmp"
PaintTerrainGCDecreaseSel BITMAP "icons/groundcoverless_sel.bmp"

ManipulateSelectionSel BITMAP "icons/SelectIcon.bmp"
ManipulateSelectionDeSel BITMAP "icons/SelectIcon_des.bmp"
ManipulateTranslateSel BITMAP "icons/TranslateIcon.bmp"
ManipulateTranslateDeSel BITMAP "icons/TranslateIcon_des.bmp"
ManipulateRotateSel BITMAP "icons/RotateIcon.bmp"
ManipulateRotateDeSel BITMAP "icons/RotateIcon_des.bmp"
ManipulateScaleSel BITMAP "icons/ScaleIcon.bmp"
ManipulateScaleDeSel BITMAP "icons/ScaleIcon_des.bmp"

newdoc           BITMAP      "icons/document.bmp"
opendoc          BITMAP      "icons/open.bmp"
savedoc          BITMAP      "icons/save.bmp"

undo             BITMAP      "icons/undo.bmp"
redo		     BITMAP      "icons/redo.bmp"

help             BITMAP      "icons/help.bmp"

framesel             BITMAP      "icons/framesel.bmp"
frameall		     BITMAP      "icons/frameall.bmp"

objectproperties	BITMAP      "icons/objectproperties.bmp"
globalproperties	BITMAP      "icons/globalproperties.bmp"
remaprefs			BITMAP      "icons/remaprefs.bmp"
explicitdepends		BITMAP      "icons/explicitdepends.bmp"
objectbrowser		BITMAP      "icons/objectbrowser.bmp"
