
appicon          ICON        "icons/appicon.ico"


newdoc           BITMAP      "icons/document.bmp"
opendoc          BITMAP      "icons/open.bmp"
savedoc          BITMAP      "icons/save.bmp"

undo             BITMAP      "icons/undo.bmp"
redo		     BITMAP      "icons/redo.bmp"

help             BITMAP      "icons/help.bmp"

framesel             BITMAP      "icons/framesel.bmp"
frameall		     BITMAP      "icons/frameall.bmp"

mated	BITMAP      "icons/objectproperties.bmp"
