

appicon				ICON        "icons/appicon.ico"

opendoc				BITMAP      "icons/open.bmp"
savedoc				BITMAP      "icons/save.bmp"
createanipk			BITMAP		"icons/createanipk.bmp"
createmomap			BITMAP		"icons/createmomap.bmp"
reloadres			BITMAP		"icons/refresh.bmp"
animed				BITMAP		"icons/animedicon.bmp"
cameraframe			BITMAP		"icons/cameraframe.bmp"

saveanipks			BITMAP		"icons/save.bmp"

Anifig				BITMAP		"icons/browser.bmp"

LoadObj				BITMAP		"icons/loadobject.bmp"

Gizmo				BITMAP		"icons/allicon.bmp"
ManipSelectDeSel	BITMAP		"icons/selecticon.bmp"
ManipSelectSel		BITMAP		"icons/selecticon_sel.bmp"
ManipTranslateDeSel BITMAP		"icons/translateicon.bmp"
ManipTranslateSel	BITMAP		"icons/translateicon_sel.bmp"
ManipRotateDeSel	BITMAP		"icons/rotateicon.bmp"
ManipRotateSel		BITMAP		"icons/rotateicon_sel.bmp"
ManipScaleDeSel		BITMAP		"icons/scaleicon.bmp"
ManipScaleSel		BITMAP		"icons/scaleicon_sel.bmp"

Anims				BITMAP      "icons/animicon.bmp"

Objects				BITMAP		"icons/objectbrowser.bmp"

EntityCtrls			BITMAP		"icons/entityicon.bmp"


build				BITMAP		"icons/SigAnimDialog/buildfile.bmp"
newdoc				BITMAP		"icons/SigAnimDialog/document.bmp"
undo				BITMAP		"icons/SigAnimDialog/undo.bmp"
redo				BITMAP		"icons/SigAnimDialog/redo.bmp"
help				BITMAP		"icons/SigAnimDialog/help.bmp"
framesel			BITMAP		"icons/SigAnimDialog/framesel.bmp"
frameall			BITMAP		"icons/SigAnimDialog/frameall.bmp"