<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CheckIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
      <CheckIn.Properties.Settings>
        <setting name="CheckInForm_Size" serializeAs="String">
          <value>977, 836</value>
        </setting>
        <setting name="CheckInForm_Location" serializeAs="String">
          <value>0, 0</value>
        </setting>
        <setting name="CheckInForm_addedList_ColumnHeaderWidth" serializeAs="String">
          <value>917</value>
        </setting>
        <setting name="CheckInForm_modifiedList_ColumnHeaderWidth" serializeAs="String">
          <value>917</value>
        </setting>
        <setting name="CheckInForm_deletedList_ColumnHeaderWidth" serializeAs="String">
          <value>917</value>
        </setting>
        <setting name="CheckInForm_State" serializeAs="String">
          <value>Normal</value>
        </setting>
        <setting name="CheckInForm_topSplitPanel_SplitterDistance" serializeAs="String">
          <value>169</value>
        </setting>
        <setting name="CheckInForm_bottomSplitPanel_SplitterDistance"
          serializeAs="String">
          <value>235</value>
        </setting>
      </CheckIn.Properties.Settings>
    </userSettings>
</configuration>